:root {
    box-sizing: border-box;
    font-family: system-ui;
    --inside-margin: 2rem;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
    display: flex;
}

.main-window {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    border-radius: 1rem;
    overflow: hidden;
}

.torrent-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    padding-block: 1rem;
    padding-inline: var(--inside-margin);
}

.torrent {
    height: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    padding: 0.5rem;
    padding-inline: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    transition: box-shadow 0.1s;
}

.torrent:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.control-panel {
    border-bottom: 2px solid whitesmoke;
    background-color: white;
    /* margin-bottom: 2rem; */
}

button {
    border: none;
    border-radius: 0.2rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;

    background-color: white;
    border: 1px solid lightgray;

    transition-duration: 0.1s;
    transition: background-color color;
}

button:hover {
    background-color: whitesmoke;
    border-color: gray;
}

button.red-border {
    border: 1px solid red;
}

button.red-border:hover {
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
}

.button-group {
    display: flex;
    gap: 0.25rem;
}

.torrent-controls {}

.program-header {
    padding: 0;
    margin: 0;

    padding-inline: var(--inside-margin);
    padding-block: 1rem;
}

.torrent-progress {
    border: none;
    overflow: hidden;
    width: 100%;
    height: 1.25rem;
    min-width: 90px;
}

.torrent-progress[value]::-webkit-progress-bar {
    background-color: whitesmoke;
    border-radius: 2rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
    overflow: hidden;
}

.torrent-progress[value]::-webkit-progress-value {
    background-color: rgb(0, 209, 0);
    border-radius: 2rem;
    box-shadow:
        4px 0 48px 5px rgba(0, 255, 76, 0.5);
    transition: background-color 0.1s;

}

.torrent-progress[value]::-webkit-progress-value:hover {
    background-color: rgb(1, 231, 1);
    box-shadow:
        4px 0 48px 5px rgba(87, 255, 137, 0.5);
}

.torrent-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.progress-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    justify-content: center;
}

.progress-value {
    position: absolute;
    font-size: 0.8rem;
}


.add-new-torrent-place {
    height: 5rem;
    border: 2px lightgray dashed;
    border-radius: 0.5rem;
    padding-block: 1rem;
    margin-inline: var(--inside-margin);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    color: lightgray;
    transition: color 0.1s;
}

.add-new-torrent-place:hover {
    --darker-light-gray: rgb(187, 187, 187);
    border-color: var(--darker-light-gray);
    color: var(--darker-light-gray);
}

.add-new-torrent-icon {
    flex-grow: 1;
    height: 2rem;
    width: 100%;
}
